<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Dashboard</title>
</head>
<body>
    <h1>Sloth Dashboard</h1>
    <h3><a href="/sloth/new">Create New Sloth</a></h3>
    <% for (var x in sloths) { %>
        <h3>Quote: <%= sloths[x].quote %></h3>
        <h4>Name: <a href="/sloth/<%= sloths[x].id%>" ><%= sloths[x].name %></a></h4>
        <h4>Age: <%= sloths[x].age %></h4>
        <h4><%=sloths[x].createdAt %></h4>
        <hr>
    <% } %>
    
</body>
</html>